[Unit]
Description=Gophish service
After=network-online.target

[Service]
Environment="GOPHISH_BIN_PATH=/opt/gophish/"
Environment="GOPHISH_LOG_PATH=/opt/gophish/log/"
ExecStart=/bin/bash /opt/gophish/gophish_service.sh

AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
